html,
p {
    margin: 0;
    padding: 0;
    font-family: Ubuntu, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    scroll-behavior: smooth;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.container {
    position: relative;
    width: 1400px;
    margin: 0 auto;
}

.top {
    padding-top: 30px;
}

.title {
    font-family: Titillium Web, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}

.header {
    padding: 30px 0;
    color: #ffffff;
    background: #3a3b3c;
}

.hamburger {
    display: none;
}
	

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.menu__item a {
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}

.menu__item a:hover {
    color: #cacaca;
}

.photo {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 50px;
    
    border-radius: 50%;
    border: 2px solid #ffffff;
}

.photo img {
    display: block;
    width: 200px;
    height: 200px;
    background: url(./images/photo.png) center ( cover / center ) no-repeat;
    
}

.info {
    margin-top: 40px;
    text-align: center;
}

.name {
    font-family: Titillium Web, Geneva, Tahoma, sans-serif; 
    font-size: 40px;
    text-transform: uppercase;
    line-height: 28px;
    font-weight: 700;
}

.role {
    margin-top: 20px;
    font-size: 30px;   
    line-height: 28px;
}

.contacts {
    display: flex;
    justify-content: center;
    column-gap: 30px; 

    width: 600px;
    margin: 0 auto;
    margin-top: 50px;

    padding: 0;
    list-style: none;
    font-size: 14px;
}

/* About me section */

.aboutme {
    padding: 50px 0;
}

.aboutme__title {
    text-align: center;
}

.aboutme__text {
    width: 800px;
    padding: 0 50px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
}

/* Skills section */

.skills {
    text-align: center;
    font-size: 18px;
    background: #f6f6f6;
    padding: 50px 0;
}

.skills .skill__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
    flex-wrap: wrap;

    list-style: none;
}

.skills_item {
    width: 550px;
    margin-top: 30px;
}

.skills_item .item_title {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.skills_item .item_description {
    margin-top: 10px;
} 

/* Projects section  */

.projects {
    padding: 50px 0;
}

.projects__title {
    text-align: center;
}

.projects__list {
    display: flex;
    justify-content: center;
    column-gap: 30px;

    margin-top: 30px;
}

.project__item {
    width: 300px; 
    padding: 20px;
    
    color: #ffffff;
    border-radius: 3%;
    background: #3a3b3c;

}

.project__item .project__link {
    font-size: 20px;
    text-align: center;

    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.project__image {
    display: block;
    width: 300px;
    height: 200px;
    border-radius: 2%;
}

.project__image:hover {
    opacity: 0.7;
}

.project__subtitle {
    margin-top: 15px;

    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.project__description {
    margin-top: 10px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

/* Experience section  */

.experience {
    padding: 50px 0;
    background: #f6f6f6;
}

.experience__wrapper {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.experience__title {
    text-align: center;
}

.experience_item {
    width: 300px;

    margin-top: 30px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;   
}

.experience_place {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.experience_date {
    margin-top: 10px;

    font-size: 16px;
    font-style: italic;
}

.experience_description {
    margin-top: 10px;
    list-style: square;
    padding-left: 20px;
}

.experience_description .description_item {
    margin-top: 10px;
}

/* Education section */

.education {
    padding: 50px 0;
}

.education__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 20px;
    margin-top: 30px;
}

.education__title {
    text-align: center;
}

.education_item {
    width: 600px;
    padding: 20px;

    border: 2px solid #3a3b3c;
    border-radius: 5px;
    background: #f6f6f6;
}

.education_faculty {
    font-size: 18px;
    font-weight: 700;
}

.education_place {
    margin-top: 10px;
}

/* Examples section  */

.examples__wrapper {
    width: 600px;
    margin: 0 auto;
}

.examples {
    padding: 50px 0;
    background: #f6f6f6;
}

.codewars__title {
    margin-top: 20px;

    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.examples__title {
    text-align: center;
}

.examples__code {
    margin-top: 20px;
    width: 600px;
}

/* Footer */

.footer {
    width: 100%;
    padding: 20px 0;

    color: #ffffff;
    background: #3a3b3c;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.social .github {
    position: relative;
    font-size: 14px;
    color: #ffffff;
}    

.icon img,
.github img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    filter: invert(100%) sepia(0%) saturate(7461%) hue-rotate(338deg) brightness(101%) contrast(82%);
}

.social .rs-logo {
    height: 30px;
}

.rs-logo img {
    display: block;
    height: 30px;
}

.social p {
    font-size: 14px;
    font-weight: 400;
}

@media ( max-width: 1400px ) {
    .container {
        max-width: 1199px;
    }
}

@media ( max-width: 1200px ) {
    .container {
        max-width: 992px;
    }
    
    .menu {
        padding: 0 40px;
    }

    .skills .skill__list {
        column-gap: 10px;
    }

    .skills .skills_item {
        width: 450px;
    }
}

@media ( max-width: 991px ) {
    .container {
        max-width: 768px;
    }

    .aboutme .aboutme__text {
        width: 600px;
    }
}

@media ( max-width: 767px ) {
    .container {
        max-width: 576px;
    }
    
    .header {
        position: relative;
    }

    .nav {
        position: relative;
        height: 50px;
        
        background-color: #3a3b3c;
    }

    .menu {
        position: fixed;
        z-index: 2;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        padding: 20px 15px;
        background-color: rgba(0, 0, 0, .8);
        transition: 0.6s all;
    }

    .menu__active {
        left: 0;
    }

    .menu__item {
        padding-right: 0;
        margin: 10px 0;
    }

    .menu__link {
        font-size: 20px;
    }

    .hamburger {
        display: block;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 26px;
        height: 12px;
    }
    
    .hamburger span {
        display: block;
        height: 2px;
        width: 100%;
        background-color: #ffffff;
        margin-bottom: 2px;
        transition: 0.5s all;
    }
    
    .hamburger__active span {
        margin-bottom: -2px;
    }

    .hamburger__active span:nth-child(1) {
        transform: translateY(3px) rotate(-45deg);
    }
            
    .hamburger__active span:nth-child(2) {
        display: none;
    }
            
    .hamburger__active span:nth-child(3) {
        transform: translateY(3px) rotate(45deg);
    }
            
    .header {
        padding-top: 0;
    }

    .header .photo {
        width: 150px;
        height: 150px;

        margin-top: 10px;
    }

    .header .photo img {
        width: 150px;
        height: 150px;
    }

    .header .info {
        margin-top: 20px;
    }

    .header .name {
        font-size: 24px;
        line-height: 28px;
    }

    .header .role {
        margin-top: 10px;
        font-size: 20px;
        line-height: 24px;
    }

    .header .contacts {
        margin-top: 30px;
        width: 300px;
    }

    .aboutme .aboutme__text {
        width: 450px;
    }

    .skills {
        font-size: 13px;
    }

    .skills__item .item__title {
        font-size: 16px;
    }

    .projects__list {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }

    .experience__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .education .education_item {
        width: 400px;
        padding: 10px;
    }

    .examples .examples__wrapper {
        width: 400px;
        font-size: 10px;
    }

    .examples .codewars__title {
        font-size: 16px;
    }

    .examples .examples__code {
        width: 400px;
    }
}

@media ( max-width: 575px ) {
    .container {
        max-width: 320px;
    }

    .aboutme .aboutme__text {
        width: 280px;
        padding: 0 5px;
    }

    .projects__list .project__item {
        width: 260px;
    }

    .projects__list .project__image {
        width: 260px;
        height: 180px;
    }

    .experience__wrapper .experience_item {
        width: 260px;
        padding: 10px;
    }

    .education .education_item {
        width: 260px;
        padding: 10px;
    }

    .examples .examples__wrapper {
        width: 260px;
    }

    .examples .examples__code {
        width: 260px;
    }

    .footer .social {
        flex-direction: column;
        row-gap: 20px;
    }
}
